:root{
    /*colors*/
    --clr-primary-500: hsl(211, 100%, 50%);
    --clr-secondary-200: hsl(0, 0%, 95%);
}

/*remove default margin and padding*/
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--clr-secondary-200);
}