:root{
    /*colors*/
    --clr-primary-500: hsl(211, 100%, 50%);
    --clr-secondary-200: hsl(0, 0%, 90%);

    --clr-neutral-100: hsl(0, 0%, 100%);
}

/*remove default margin and padding*/
* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-secondary-200);
    height: 100vh;
}

.main-container{
    flex: 0 0 70%;
    background-color: var(--clr-neutral-100);

    padding: 1.875rem;
    border-radius: .625rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
    
    text-align: center;

    display: grid;
    row-gap: 1rem;
}

.search-container__input-field{
    width: 75%;
    padding: .625rem;
}

.search-container > button{
    padding: 0.625rem;
    background-color: var(--clr-primary-500);
    border: none;
    color: var(--clr-neutral-100);
    border-radius: 0.3125rem;
}